<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
	<link href="{{__HOST__}}/admin/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{__HOST__}}/admin/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace.min.css" />
	<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-rtl.min.css" />

	<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-skins.min.css" />
	<script src="{{__HOST__}}/admin/js/ace-extra.min.js"></script>
	<!-- 引入basic.js 公共文件 -->
	<script src="{{__HOST__}}/admin/basic.js"></script>
	<!-- 引入ueditor静态文件（在public下） -->
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-ch/zh-ch.js"></script>

	
</head>