<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <table border="1">
            <!-- tr(table row)代表表格中的一行，th(table header cell)代表表头单元格，td(table data cell)代表表格中的一个单元格 -->
            <tr>
                <th>姓名</th>
                <th v-for="(value) in subjects">{{value}}</th>
            </tr>
            <tr v-for="(value,key,index) in score">
                <td >{{value.name}}</td>
                <td v-for="(value) in value.score">{{value}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    var a = new Vue({
        el: "#app",
        data: {
            stus: ["z3", "l4", "w5"],
            subjects: ["语文", "数学", "英语"],
            score: [
                { name: "z3", score: [1, 2, 3] },
                { name: "l4", score: [5, 2, 3] },
                { name: "w5", score: [9, 2, 3] },
            ],
        }
    })
</script>
</html>